<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp2.Properties.Settings.p1g9ConnectionString"
            connectionString="Data Source=tcp:mednat.ieeta.pt\SQLSERVER,8101;Initial Catalog=p1g9;Persist Security Info=True;User ID=p1g9"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>